body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #fafafa;
    color: #212529;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

a {
    color: #212529;
    text-decoration: none;
}

a.muted {
    color: #6c757d;
}

a:hover {
    color: #59a96a;
    text-decoration: none;
}

.feature-icon {
    padding-bottom: 20px;
    color: #59a96a;
}

.forage-logo {
    width: 100px;
    height: auto;
}

.chosen-image {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.representative-image {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

/* Headings */

.big-heading {
    font-size: 5rem;
    line-height: 1.5;
}

.medium-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

.small-heading {
    font-size: 1.7rem;
    line-height: 1.5;
}

.subheading {
    font-size: 1.1rem;
}


/* Forms */
.user-form {
    max-width: 300px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* Jumbotron */

.jumbotron {
    height: 400px;
    position: relative;
    background: no-repeat center center;
    background-color: #ccf2f4;
    background-size: cover;
    background-attachment: scroll;
}

.jumbo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

.jumbo-title {
    position: relative;
    color: #fafafa;
}

.jumbo-subheader {
    font-size: 1.1rem;
}

/* Navbar */

.button {
    color: #59a96a;
}

.nav-link {
    font-size: 0.9rem;
}

.nav-link:hover {
    color: #59a96a;
}

/* Buttons */

.custom {
    color: #fff;
    background-color: #59a96a;
    border-color: #59a96a;
    font-weight: 600;
    box-shadow: none;
    -webkit-box-shadow: none
}

.custom:hover, .custom:focus {
    color: #fff;
    background-color: #384d48;
    border-color: #59a96a;
    box-shadow: none;
    -webkit-box-shadow: none
}

.custom:active {
    box-shadow: none;
    -webkit-box-shadow: none
}

.custom-outline {
    color: #59a96a;
    background-color: transparent;
    background-image: none;
    border-color: #59a96a;
    box-shadow: none;
    -webkit-box-shadow: none
}

.custom-outline:hover, .custom-outline:focus {
    color: #fff;
    background-color: #384d48;
    border-color: #59a96a;
    box-shadow: none;
    -webkit-box-shadow: none
}

.custom-outline:active {
    box-shadow: none;
    -webkit-box-shadow: none
}