{% extends "base.html" %}

{% block content %}
<!-- Banner -->
<div class="container-fluid text-light p-5 jumbotron"
style="background-image: url({{ url_for('static', filename='img/bg/home-bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container p-5 d-flex align-items-center justify-content-center h-100">
      <div class="jumbo-title text-left">
        <h1 class="big-heading">Welcome to Forage.</h1>
        <p class="subheading">Identify mushrooms and learn about their edibility.</p>

        <!-- Buttons  -->
        <a type="button" class="cta-btn btn custom btn-primary btn-md" href="{{ url_for('identify') }}">Identify</a>
        <a type="button" class="cta-btn btn custom btn-secondary btn-md" href="{{ url_for('about') }}">Learn more</a>
      </div>
    </div>
</div>

<!-- Pages -->
<div class="container my-5">
    <div class="feature-title text-center">
        <h2 class="medium-heading">Features</h2>
    </div>
    <div class="row my-5">
        <div class="col-lg-4 feature-box text-center my-5">
            <i class="fa-solid fa-microscope fa-3x feature-icon"></i>
            <h3 class="medium-heading">Identification</h3>
            <p class="subheading">Quickly identify mushrooms by uploading a picture. Our advanced AI will do the heavy
                lifting for you, providing results in seconds.</p>
        </div>
        <div class="col-lg-4 feature-box text-center my-5">
            <i class="fa-solid fa-utensils fa-3x feature-icon"></i>
            <h3 class="medium-heading">Edible Insights</h3>
            <p class="subheading">Discover whether a mushroom is safe to eat. Get detailed information about its
                nutritional benefits, culinary uses, and more.</p>
        </div>
        <div class="col-lg-4 feature-box text-center my-5">
            <i class="fa-solid fa-clock-rotate-left fa-3x feature-icon"></i>
            <h3 class="medium-heading">History View</h3>
            <p class="subheading">Track all your previous identifications without the need for an account. Easily
                revisit past results and learn over time.</p>
        </div>
    </div>
</div>
{% endblock %}