{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container">

    <!-- Login Form -->
    <form action="/login" method="post" class="user-form py-5">

        <h3>Login</h3>

        <div class="form-group pb-3">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required class="form-control" placeholder="Enter username">
        </div>

        <div class="form-group pb-3">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required class="form-control" placeholder="Enter password">
        </div>

        <button type="submit" class="btn custom">Login</button>
    </form>

</div>

{% endblock %}