{% extends 'base.html' %}

{% block title %}
My Collection
{% endblock %}

{% block content %}

<!-- Banner -->
<div class="container-fluid text-light p-5 jumbotron"
style="background-image: url({{ url_for('static', filename='img/bg/collection-bg.jpg') }})">
    <div class="jumbo-overlay"></div>
    <div class="container p-5 d-flex align-items-center justify-content-center h-100">
      <div class="jumbo-title text-center">
        <h1 class="big-heading">My Collection</h1>
      </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        {% for mushroom in mushrooms %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <!-- Representative Image -->
                    {% if mushroom.representative_image_url %}
                        <img src="{{ mushroom.representative_image_url }}" class="card-img-top" alt="{{ mushroom.scientific_name }}">
                    {% else %}
                        <img src="path_to_default_image.jpg" class="card-img-top" alt="Default Image">
                    {% endif %}

                    <!-- Card Body -->
                    <div class="card-body">
                        <h5 class="card-title">{{ mushroom.scientific_name }}</h5>
                        <p class="card-text">Common Names: {{ mushroom.common_names }}</p>
                        <p class="card-text">Edibility: {{ mushroom.edibility }}</p>
                    </div>

                    <!-- Card Footer -->
                    <div class="card-footer">
                        <button type="button" class="btn custom-solid" data-bs-toggle="modal" data-bs-target="#descriptionModal{{ mushroom.id }}">
                            View Description
                        </button>
                        <form action="{{ url_for('remove_mushroom', mushroom_id=mushroom.id) }}" method="post" class="d-inline">
                            <button type="submit" class="btn custom-outline-green">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Mushroom Description Modal -->
            <div class="modal fade" id="descriptionModal{{ mushroom.id }}" tabindex="-1" aria-labelledby="descriptionModalLabel{{ mushroom.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="descriptionModalLabel{{ mushroom.id }}">{{ mushroom.scientific_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ mushroom.description }}
                        </div>
                        <div class="modal-footer">
                            <a href="{{ mushroom.more_info_url }}" class="btn custom-solid" target="_blank">Learn More</a>
                            <button type="button" class="btn custom-outline-green" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}