{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container py-5">

    <h3 class="text-center">Create Account</h3>
    <p class="text-center">
        Fill out the form below to sign up for Forage. Already signed up? Then just
        <a href="login" style="text-decoration: underline;"> log in.</a>
    </p>

    <!-- Registration Form -->
    <form action="/register" method="post" class="user-form">

        <div class="form-group pb-3">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required class="form-control" placeholder="Your email">
        </div>

        <div class="form-group pb-3">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required class="form-control" placeholder="Enter username">
        </div>

        <div class="form-group pb-3">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required class="form-control"
                   placeholder="Enter password">
        </div>

        <button type="submit" class="btn custom-solid">Register</button>
    </form>
</div>

{% endblock %}